# StackOverflow Queries Jul 2008 - Jul 2020 dataset

- This dataset was made using a query to count the number of posts on Stack Overflow tagged with each programming language
- Below is a snapshot of the first 5 rows of data:

In [12]:
import pandas as pd
df = pd.read_csv('QueryResults.csv')
df.head(5)

                     m     TagName  Unnamed: 2
0  2008-07-01 00:00:00          c#           3
1  2008-08-01 00:00:00    assembly           8
2  2008-08-01 00:00:00  javascript         162
3  2008-08-01 00:00:00           c          85
4  2008-08-01 00:00:00      python         124